<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328682946260-c4dut37954mc717kpbjbk6iajb6csc36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328682946260-c4dut37954mc717kpbjbk6iajb6csc36</string>
	<key>API_KEY</key>
	<string>AIzaSyCNBiDvLO_4p4RMPekF4thOoJQYmRx5LWA</string>
	<key>GCM_SENDER_ID</key>
	<string>328682946260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderProcessesing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>orderprocessessingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>orderprocessessingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328682946260:ios:76f9ed62751a18fe20c541</string>
</dict>
</plist>